.App {
  background-color: #bebee7;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

img {
  height: 30vmin;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
}

form button {
  margin: 20px auto;
  width: 100px;
}

.logo {
  height: 5vmin;
}
